<p>message-list works!</p>

<table mat-table class="mat-elevation-z8">
    <tr><td>1</td><td>Sue Storm</td><td>Invisible Girl</td></tr>
    <tr><td>1</td><td>Sue Storm</td><td>Invisible Girl</td></tr>
    <tr><td>1</td><td>Sue Storm</td><td>Invisible Girl</td></tr>
    <tr><td>1</td><td>Sue Storm</td><td>Invisible Girl</td></tr>
    <tr><td>1</td><td>Sue Storm</td><td>Invisible Girl</td></tr>
    <tr><td>1</td><td>Sue Storm</td><td>Invisible Girl</td></tr>
    <tr><td>1</td><td>Sue Storm</td><td>Invisible Girl</td></tr>
</table>

